{
  "openapi": "3.0.3",
  "info": {
    "title": "AssetWorks FMAX Action Code API",
    "description": "Simple POST endpoint to trigger an action code in AssetWorks FMAX. Authentication is HTTP Basic (username and password). The request body is empty.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://wiscdev.assetworks.hosting",
      "description": "Development server"
    }
  ],
  "paths": {
    "/fmax/actioncode": {
      "get": {
        "summary": "Execute FMAX action code",
        "description": "Triggers an action code using the provided transaction number (`tranxNum`). The request body is empty; all inputs are via query string and headers.",
        "security": [
          { "basicAuth": [] }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tranxNum",
            "required": true,
            "schema": { "type": "string" },
            "description": "Transaction number used to identify the action, e.g., `1040`."
          }
        ],
        "requestBody": {
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "summary": "Generic success payload",
                    "value": {
                      "status": "success",
                      "message": "Action executed",
                      "tranxNum": "1040"
                    }
                  }
                }
              },
              "text/plain": {
                "schema": { "type": "string" },
                "examples": {
                  "default": {
                    "summary": "Plain text success",
                    "value": "OK"
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request (e.g., missing or invalid tranxNum)" },
          "401": { "description": "Unauthorized (invalid or missing Basic credentials)" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not found" },
          "500": { "description": "Server error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}