{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "api.wisc.edu",
  "basePath" : "/finance",
  "schemes" : [ "https" ],
  "paths" : {
    "/costCenters" : {
      "get" : {
        "tags" : [ "getcostcenter" ],
        "summary" : null,
        "description" : null,
        "operationId" : "getcostcenter",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/getcostcenter"
            }
          }
        }
      }
    },
    "/hierarchies" : {
      "get" : {
        "tags" : [ "gethierarchies" ],
        "summary" : null,
        "description" : null,
        "operationId" : "gethierarchies",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/gethierarchies"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "getcostcenter##data##attributes" : {
      "properties" : {
        "active" : {
          "type" : "boolean"
        },
        "company" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
		"parentHierarchyId" : {
          "type" : "string"
        }
      }
    },
    "getcostcenter##data##links" : {
      "properties" : {
        "self" : {
          "type" : "string"
        }
      }
    },
    "getcostcenter##data##meta" : {
      "properties" : {
        "dttm_loaded" : {
          "type" : "string"
        }
      }
    },
    "getcostcenter##data" : {
      "properties" : {
        "attributes" : {
          "$ref" : "#/definitions/getcostcenter##data##attributes"
        },
        "id" : {
          "type" : "string"
        },
        "links" : {
          "$ref" : "#/definitions/getcostcenter##data##links"
        },
        "meta" : {
          "$ref" : "#/definitions/getcostcenter##data##meta"
        },
        "type" : {
          "type" : "string"
        }
      }
    },
    "getcostcenter##links" : {
      "properties" : {
        "first" : {
          "type" : "string"
        },
        "last" : {
          "type" : "string"
        },
        "next" : {
          "type" : "string"
        },
        "prev" : {
          "type" : "string"
        },
        "self" : {
          "type" : "string"
        }
      }
    },
    "getcostcenter##meta" : {
      "properties" : {
        "pageNumber" : {
          "type" : "number",
          "format" : "int32"
        },
        "pageSize" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalCount" : {
          "type" : "number",
          "format" : "int32"
        },
        "totalPages" : {
          "type" : "number",
          "format" : "int32"
        }
      }
    },
    "getcostcenter" : {
      "properties" : {
        "data" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/getcostcenter##data"
          }
        },
        "links" : {
          "$ref" : "#/definitions/getcostcenter##links"
        },
        "meta" : {
          "$ref" : "#/definitions/getcostcenter##meta"
        }
      }
    }
  }
}